@font-face {
    font-family: 'AmaticSC';
    src: url('../fonts/Amatic_SC/AmaticSC-Bold.ttf');
    src: url('../fonts/Amatic_SC/AmaticSC-Regular.ttf')
} 
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

*{
    margin:0;
    padding:0;
    font-family:'Great Vibes', cursive, 'Bebas Neue','AmaticSC', Helvetica, Arial, sans-serif ;
    color:#126577;
}
html{
    font-size:1vw;
}

header{
    width:100%;
    height:150px;
    background-color:#f8f6f6;
}
#logo{
    width:25%;
    float:left;
}

#logo img{
    height: 130px;
}
#titulo{
    width:60%;
    float:left;
}
#titulo h1{
    text-align:center;
    color:#157e6a;
    margin-top:40px;
    font-size:3rem;
}
#cimol{
    width:15%;
    float:right;
}
#cimol img{
    margin-top:30px;
    height: 100px;
}
nav{
    width: 90%;
    padding-left:10%;
    padding-top:15px;
    height: 40px;
    background-color:#126577;
    box-shadow:10px 10px 30px rgba(50, 50, 50, 0.77);
}
nav ul li{
    list-style:none;
    display:inline;
}

nav ul li a{
    color:#fff;
    text-decoration:none;
    font-size:1.5rem;
    margin-left:2%;
    padding:15px 1%;
   
}

nav ul li a:hover{
    background-color: #fff;
    color:#126577;
}
main{
    width:96%;
    padding:20px 2%;
    
}
#figs{
    width: 35%;
    float:left;
}
#text{
    width:55%;
    float:left;
}
#text p{
    text-align: justify;
    font-size:2rem;
    margin-bottom: 20px;
}
h2{
    margin:15px;
}
.imagem{
    width:80%;
    margin:0 auto;
    
}
.imagem img{
    width:100%;
    border-radius:50%;
} 
section{
    width:90vw;
    min-height: 80vh;
}